@import	'_custom-icons';

.icon-arrow-right:before { content: "\e92b"; } 

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
button,
[type] {
	transition: all 0.25s;
	text-decoration: none;
}

.btn {
	color: #fff;
	@include align;
	border-width: 0;
	border-radius: 3px;
	padding: 10px 20px;
	text-align: center;
	white-space: normal;
	@include bg-hover(#0063b0);
	
	&:hover,
	&:focus {
		outline: none;
	}
	
	&.primary {
		color: #5c5c5c;
		background: $white;
		border: 1px solid #d0d0d0;
		
		&:hover {
			color: #56575c;
			background: #e0e0e0;
		}
	}
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none}

[style*= background-],
[style^=background-] {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1200px;
	@extend %clearfix;
}

.row {
	margin: 0 -10px;
	@extend %clearfix;
}

.col-1 { width: 8.333333333333333%; }
.col-2 { width: 16.66666666666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333333333%; }
.col-5 { width: 41.66666666666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333333333%; }
.col-8 { width: 66.66666666666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333333333%; }
.col-11 { width: 91.66666666666667%; }
.col-12 { width: 100%; }


[class*= col-],
[class^=col-] {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	
	@include media('<tablet') {
		width: 100%;
	}
}

.pull-left { float: left; }
.pull-right { float: right; }

.hidden { display: none !important; }

.text-center { text-align: center; }

nav ul,
ul[class] {
	@extend %listreset;
}


[class^="flag-"], [class*=" flag-"] {
	@include align;
	background-size: cover;
	@include size(18px, 12px);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
	&.flag-russia {	
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20enable-background%3D%22new%200%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m0%202h12v4h-12z%22%2F%3E%3Cpath%20fill%3D%22%23d52b1e%22%20d%3D%22m0%206h12v4h-12z%22%2F%3E%3Cpath%20fill%3D%22%230039a6%22%20d%3D%22m0%204.7h12v2.7h-12z%22%2F%3E%3C%2Fsvg%3E");
	}
	
	
	&.flag-uk {
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2030%22%20width%3D%221200%22%20height%3D%22600%22%3E%0A%3CclipPath%20id%3D%22t%22%3E%0A%09%3Cpath%20d%3D%22M30%2C15%20h30%20v15%20z%20v15%20h-30%20z%20h-30%20v-15%20z%20v-15%20h30%20z%22%2F%3E%0A%3C%2FclipPath%3E%0A%3Cpath%20d%3D%22M0%2C0%20v30%20h60%20v-30%20z%22%20fill%3D%22%2300247d%22%2F%3E%0A%3Cpath%20d%3D%22M0%2C0%20L60%2C30%20M60%2C0%20L0%2C30%22%20stroke%3D%22%23fff%22%20stroke-width%3D%226%22%2F%3E%0A%3Cpath%20d%3D%22M0%2C0%20L60%2C30%20M60%2C0%20L0%2C30%22%20clip-path%3D%22url(%23t)%22%20stroke%3D%22%23cf142b%22%20stroke-width%3D%224%22%2F%3E%0A%3Cpath%20d%3D%22M30%2C0%20v30%20M0%2C15%20h60%22%20stroke%3D%22%23fff%22%20stroke-width%3D%2210%22%2F%3E%0A%3Cpath%20d%3D%22M30%2C0%20v30%20M0%2C15%20h60%22%20stroke%3D%22%23cf142b%22%20stroke-width%3D%226%22%2F%3E%0A%3C%2Fsvg%3E%0A");
	}
	
	
	&.flag-germany {
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20enable-background%3D%22new%200%200%2012%2012%22%3E%3Cpath%20d%3D%22m0%202h12v8h-12z%22%2F%3E%3Cpath%20fill%3D%22%23d00%22%20d%3D%22m0%204.7h12v5.3h-12z%22%2F%3E%3Cpath%20fill%3D%22%23ffce00%22%20d%3D%22m0%207.3h12v2.7h-12z%22%2F%3E%3C%2Fsvg%3E");
	}
	
	
	&.flag-france {
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20enable-background%3D%22new%200%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23ed2939%22%20d%3D%22m0%202h12v8h-12z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m0%202h8v8h-8z%22%2F%3E%3Cpath%20fill%3D%22%23002395%22%20d%3D%22m0%202h4v8h-4z%22%2F%3E%3C%2Fsvg%3E");
	}
}

.open-close {
	
	.slide {
		top: 100%;
		z-index: 5;
		position: absolute;
		background: $white;
	}
}



#wrapper {
	overflow: hidden; 
	position: relative;
	
	&:before {
		opacity: 0;
		content: '';
		z-index: 1299;
		visibility: hidden;
		@include position(0);
		transition: all 0.25s;
		background: rgba(#000, 0.65);
	}
	
	@include media('<=desktop') {
		.nav-active &,
		.topbar-active & {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}